@mixin felxCenter($height,$width){
    height: $height;
    width: $width;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin setHeight($height,$width){
    height: $height;
    width: $width;
}
@mixin planetAttributes(){
    display: inline-block;
    content: "";
    position: absolute;
    background: #9c9999;
    border-radius: 50%;
}