@import './helperFunctions';

$spaceColor : #000;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   @include felxCenter(100vh,100vw);
   background-color: $spaceColor;
   overflow: hidden;
}

span{
    position: absolute ;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
    border-radius: 50%;
}
.sun{
    @include setHeight(60px,60px);
    background: #ff8b17;
    box-shadow: 0 0 10px  #ff8b17,
    0 0 20px  #ff8b17,
    0 0 30px  #ff8b17,
    0 0 40px  #ff8b17;
    z-index: 999;
}
.planet{
    position: absolute;
    background:transparent;
    border: 4px solid rgba($color: rgb(255,255,255), $alpha: 0.5);
    animation: rotatePlanets 10s linear infinite;
}
.planet1{
    @include setHeight(110px,110px);
}
.planet2{
    @include setHeight(170px,170px);
}

.planet3{
    @include setHeight(230px,230px);
}
.planet4{
    @include setHeight(300px,300px);
}
.planet5{
    @include setHeight(400px,400px);
}
.planet6{
    @include setHeight(480px,480px);
}
.planet7{
    @include setHeight(540px,540px);
}
.planet8{
    @include setHeight(620px,620px);
}


.span::before , span::after{
    content: "";
    position: absolute;
    background: #fff;
    border-radius: 50%;
}
.planet1::before{
    @include planetAttributes;
    @include setHeight(20px,20px);
    bottom: 6px;
    left: 2px;
    background: #9c9999;
}
.planet2::before{
    @include planetAttributes;
    @include setHeight(25px,25px);
    bottom: 120px;
    left: 2px;
    background: #5f98e2;
}
.planet3::before{
    @include planetAttributes;
    @include setHeight(30px,30px);
    bottom: 120px;
    right: -12px;
    background: #227c4f;
}
.planet4::before{
    @include planetAttributes;
    @include setHeight(20px,20px);
    bottom: 40px;
    right: 25px;
    background: #d65b5b;
}
.planet5::before{
    @include planetAttributes;
    @include setHeight(40px,40px);
    left: 280px;
    top: 10px;
    background: #ca8353;
}
.planet6::before{
    @include planetAttributes;
    @include setHeight(32px,32px);
    left: -5px;
    top: 300px;
    background: #beaf24;
}
.planet6::after{
    @include planetAttributes;
    @include setHeight(10px,50px);
    left: -13px;
    top: 310px;
    background: #beaf24;
}
.planet7::before{
    @include planetAttributes;
    @include setHeight(32px,32px);
    left: 95px;
    top: 30px;
    background: #052f35;
}
.planet8::before{
    @include planetAttributes;
    @include setHeight(25px,25px);
    left: 130px;
    bottom: 30px;
    background: #3d2c64;
}

@keyframes rotatePlanets {
    0%{
        transform: translate(-50%,-50%) rotate(0);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}